.table .img-container {
    width: 180px;
    height: 120px;
    overflow: hidden;
    display: block;
    border-radius: 6px;
}

.img-container img {
    width: 100%;
}

img {
    vertical-align: middle;
    border: 0;
    box-sizing: border-box;
}
.table .td-image {
    padding-left: 40px;
}

.modal-lesson-content {
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}
// .modalAddlesson{
//   width: 800px !important;
//   margin-left:auto;
//   margin-right:auto;
// }
