<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="http://www.creative-tim.com">
        <div class="logo-container">
          <div class="logo">
          <img src="/assets/new_logo.png" alt="Creative Tim Logo" rel="tooltip" title="<b>Material Kit</b> was Designed & Coded with care by the staff from <b>Creative Tim</b>" data-placement="bottom" data-html="true">
          </div>
          <div class="">
            Nihongo
          </div>
        </div>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navigation-index">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown dropdown-categories" data-no-turbolink="">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="material-icons">apps</i>Chủ đề
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/bootstrap-themes">
                All Categories
              </a>
            </li>
            <li>
              <a href="/bootstrap-themes/admin-dashboard">
                Admin &amp; Dashboards
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown dropdown-categories" data-no-turbolink="">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="material-icons">dashboard</i>Các bảng chữ cái
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/bootstrap-themes">
                All Categories
              </a>
            </li>
            <li>
              <a href="/bootstrap-themes/admin-dashboard">
                Admin &amp; Dashboards
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" target="_blank">
            <i class="material-icons">translate</i>Kanjis
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <i class="material-icons">assignment</i> Bài Test
          </a>
        </li>
        <li>
          <a rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank" class="btn btn-white btn-simple btn-just-icon">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li>
          <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
             <i class="material-icons">person</i>
             <p class="hidden-lg hidden-md">Profile</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="">
  <div class="header header-filter" style="background-image: url(<%= asset_path 'cover-header.jpg' %>);">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="brand-text-heder">
            <h2>Cùng nhau học tiếng Nhật.</h2>
            <h3>web học tiếng Nhật trực tuyến</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
